
/*<!--
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
 -->*/

body {
  background-color: rgba(1,1,1,0.9);
  color: rgba(253, 234, 91, 0.8);
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-align: center;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #fdea5b;
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #fdea5b;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 25px;
  color: #fdea5b;
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: rgba(253, 234, 91, 0.5);
}

a:hover {
  text-decoration: none;
  color: #f7002a;
}


.card {
  background: #EDEBE3;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px;
  text-align: center;
    background:
      linear-gradient(217deg, rgba(217,100,236,0.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(1,1,1,0.8), rgba(0,0,255,0) 70.71%);
}

.table-card {
  padding: 20px;
  display: flex;
}

.content {
  margin-left: 20px;
}

.container {
  /*width: 550px;*/
  margin: 0 auto;
}

.container .img-circle {
  border-radius: 50%;
}

#link-button {
  width: 200px;
  color: #706F6F;
  background-color: rgba(1,1,1,0.9);
  border-radius: 6px;
  padding: 15px;
  /*align-content: center;*/
  box-shadow: 0px 0px 1px 1px;
  margin: 0 auto;
  /*width: 125;*/

}

.container .card .list-inline li {
  display: inline-block;
  padding: 0px 20px;
}

.container .card .list-inline ul {
  padding-left: 0px;
}


